DATABASE_URL=""

NEXTAUTH_URL=""
NEXTAUTH_SECRET=""

RESEND_API_KEY=""
AUTH_FROM_EMAIL=""

SARVAM_API_KEY=""

OPENAI_API_KEY=""

SUPABASE_ACCESS_KEY_ID=""
SUPABASE_SECRET_ACCESS_KEY=""
SUPABASE_REGION=""
SUPABASE_STORAGE_ENDPOINT=""
SUPABASE_S3_BUCKET_NAME=""
